code[class*="language-"],
pre[class*="language-"] {
    /* padding: 16px; */
    background-color: #f7f7f7;
    font-size: inherit;
    line-height: 1.5;
    border-radius: 0px;
    border: none;
    word-break: normal;
    word-wrap: normal;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre[class*="language-"].line-numbers {
    padding-left: 3.8em;
}

code {
    font-size: 100%;
    color: #DD4A68;
    background: none;
    border-radius: 4px;
}
