body {
    font-family: "Open Sans";
    font-size: 14px ;
}

.navbar {
    margin-bottom: 0;
}

footer {
    padding: 20px 0;
    margin-top: 20px ;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;

}

:not(pre) > code[class*="language-"], 
pre[class*="language-"] {
    padding: 16px;
    background-color: #f7f7f7;
    font-size: 13.6px;
    line-height: 1.45;
    border-radius: 3px;
    border: 1px solid #eee;
    word-break: normal;
    word-wrap: normal;
}

#forkme {
    display: block;
    position: absolute;
    top: 80px;
    right: -70px;
    color: #1096D0;
    background: #f8f8f8;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 0 80px;
    font-weight: bold;
}

#forkme:hover,
#forkme:active,
#forkme:focus {
    text-decoration: none;
}
    
a.cake-link {
    color: #c7254e;
}

.btn-custom {
    background-color: #1096D0 ;
    border-color: #0A90CC;
    color: white;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #068CC6 ;
    border-color: #0080C0;
    color: white;
}

.nav-tabs {
    margin-bottom: 15px;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color: #1096D0 ;
    background-image: url(../img/header.png);
    color: white;
}

.jumbotron .container {
    padding-top: 26px;
}

.jumbotron .headline {
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
}

.jumbotron .headline a {
    color: white;
}

.jumbotron .btn {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.8);
    color: white;
    padding: 15px 30px;
    font-size: 21px;
}

.jumbotron .btn:hover,
.jumbotron .btn:active,
.jumbotron .btn:focus {
    background: white;
    color: #1096D0;
}

section h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

div[role="tabpanel"] {
    position: relative;
    margin-bottom: 10px;
}

.btn-modal {
     position: absolute;
    top: 4px;
    right: 0px;
}

.right-nav {
    width: 263px;
}

.right-nav-fixed {
    position: fixed;
    top: 20px;
}

.right-nav li a:hover, 
.right-nav li a:focus, 
.right-nav li a:active, 
.right-nav li.active a {
    background: none;
}

.right-nav li a {
    color: #767676 ;
    padding: 4px 20px;
    font-size: 13px;
}

.right-nav li a:hover {
    color: #1096D0;
    border-left: 1px solid #1096D0 ;
    padding-left: 19px;
}

.right-nav li.active > a {
    color: #1096D0;
    border-left: 2px solid #1096D0 ;
    padding-left: 18px;
}

.right-nav > ul > li.active > a {
    font-weight: bold ;
}

.right-nav li ul {
    display: none ;
}

.right-nav li.active ul {
    display: block ;
}

.right-nav li li a {
    padding: 1px 20px 1px 30px;
    font-size: 12px ;
}

.right-nav li li a:hover {
    padding-left: 29px;
}

.right-nav li li.active a {
    padding-left: 28px;
}

.right-nav > a {
    display: block;
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999;
}

.right-nav > a:hover {
    text-decoration: none ;
    color: #1096D0 ;
}