<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    >

    <testsuites>
        <testsuite name="CakePHP 3 Bootstrap Helpers Test Cases">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
